<!-- About section start -->
<section class="about_section layout_padding" id="about">
  <div class="container mt-5 pb-5">
    <div class="heading_container">
      <h2>
        About Stretch Fitness Hub
      </h2>
    </div>
    <div class="box">
      <div class="img-box my-3">
        <img src="images/stretch_fitness_hub_transparent.png" alt="">
      </div>
      <div class="detail-box mt-5 text-center">
        <p>
          Welcome to <span class="attention">Stretch Fitness Hub</span>, where fitness meets community! At our gym, we
          believe in the power of
          self-motivation
          and personal growth. Our modern facilities provide everything you need for a fulfilling workout experience,
          from
          top-notch equipment to a welcoming atmosphere. Whether you're a seasoned fitness enthusiast or just starting
          your
          journey, Stretch Fitness Hub is the place where you can embrace a healthier lifestyle on your terms. Join us,
          and let
          the gym be your space for self-discovery and progress.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About section -->