<!-- Start Plan Section-->
<section class="us_section layout_padding" id="plan">
  <div class="container">
    <div class="heading_container">
      <h2 id="plan-heading">
        Our Plan
      </h2>
    </div>
    <div class="">
      <div class="row p-4 gy-4 justify-content-center ">
        <div class="col-sm-6 col-lg-3">
          <div class="card h-100 rounded-3">
            <img src="images/stretch_fitness_hub_logo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title mb-3 text-center fw-bold">Regular Plan</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary text text-center">&#8369; 1,400</h6>
              <p class="card-text text-center">
                Unleash your full potential with our <span class="attention">Regular Plan!</span> Elevate your fitness
                journey with unlimited access to
                state-of-the-art gym facilities, a wide range of fitness classes, and personalized training sessions.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card h-100 rounded-3">
            <img src="images/stretch_fitness_hub_logo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title mb-3 text-center fw-bold">Student Plan</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary text-center">&#8369; 1,200</h6>
              <p class="card-text text-center">
                Calling all students! Crush your fitness goals without breaking the bank with our <span
                  class="attention">Student Plan!</span> Stay
                active
                and energized with affordable gym access, designed to fit seamlessly into your student lifestyle.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Plan Section -->