<!-- Start Slider -->
<section class=" slider_section position-relative">
  <div class="container">
    <div class="custom_nav2">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex  flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="#plan">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#facility">Facility</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#plan">Plan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#faqs">FAQs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Visit Us</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="register">Sign Up</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="slider_container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="100">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                <div class="detail-box">
                  <h2>
                    Get Your Body
                  </h2>
                  <h1>
                    Fitness Here
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item " data-bs-interval="100">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                <div class="detail-box">
                  <h2>
                    Stretch
                  </h2>
                  <h1>
                    Your Mind
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item " data-bs-interval="100">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                <div class="detail-box">
                  <h2>
                    Stretch
                  </h2>
                  <h1>
                    Your Body
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item " data-bs-interval="100">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                <div class="detail-box">
                  <h2>
                    Stretch
                  </h2>
                  <h1>
                    Your Stamina
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item " data-bs-interval="100">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                <div class="detail-box">
                  <h2>
                    Stretch
                  </h2>
                  <h1>
                    Your Muscles
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Slider -->